<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? %>
  | <%= link_to "изменить", edit_user_path(user) %>
    <% if current_user != user %>
	  | <%= button_to "удалить", user, :method => :delete,
	                                   :confirm => "Вы точно хотите удалить пользователя #{user.name}?",
	                                   :title => "Удалить #{user.name}",
	                                   :class => 'destroy' %>
	<% end %>
  <% end %>
</li>
