<h1>Все пользователи</h1>

<%= will_paginate %>

<table class="users">
  <%= render @users %>
</table>

<%= will_paginate %>

<% if current_user.admin? %>
    <div class="list-menu">
      <%= link_to "Добавить", new_user_path, :class => 'command' %>
    </div>
<% end %>
