<script type="text/javascript">
  $j(document).ready(function() {
    $j('a[data-remote]').live('ajax:complete', function(e, xhr, status) {
      $j(this).parent().parent().html(xhr.responseText);
      return false;
    });
  });
</script>

<%= will_paginate %>

<%= render @users %>

<%= will_paginate %>

<% if current_user.admin? %>
    <div class="list-menu">
      <%= link_to "Добавить", new_user_path, :class => 'command' %>
    </div>
<% end %>
