<%= will_paginate %>

<%= render @users %>

<%= will_paginate %>

<% if current_user.admin? %>
    <div class="list-menu">
      <%= link_to "Добавить", new_user_path, :class => 'command' %>
    </div>
<% end %>
