<%= form_for @order do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :info, :style => "height:2em" %>
  </div>
  <div class="actions">
    <%= f.submit "Принять" %>
  </div>
<% end %>
