$j('.ui-dialog-titlebar-close').click();

$j('select.client-selector').each(function(index) {
  var clients = $j(this);
  clients.empty();
  <% Client.all.each do |d| %>
  clients.append($j('<option></option>').attr("value", "<%= d.id.to_s %>").text("<%= d.name %>"));
  <% end %>
});

var index = $j('div.clients');
if (index != null) {
    page = index.find('.pagination');
    add = "<%= escape_javascript(render :partial => 'client', :locals => { :client => @client }) %>";
    if (page.size() != 0) {
        page.last().before(add);
    } else {
        index.append(add);
    }
}

