<% order = @order if order.nil? %>
<div class="client_info">
  <div class="column-left" style="width:auto">
    <%= render :partial => 'orders/status', :locals => { :order => order } %>
  </div>
  <div class="column-middle" style="width:12em">  
    <% created = order.created_at.strftime "%d.%m.%Y" %>
    <%= link_to "#{order.id}. #{created} #{order.info}", order %>
  </div>
  <div class="column-middle" style="width:33%">
    <% unless order.forwarder_id.nil? %>
      <%= link_to order.forwarder.name, user_path(order.forwarder) %>
    <% end %>
  </div>
  <% if current_user.admin? || current_user.owns?(order) %>
    <div class="column-right">
      <%= link_to "изменить", edit_order_path(order), :class => "command" %>
    </div>
  <% end %>
</div>
