<%# order %>
<% order = @order if order.nil? %>

<div class="order-status">
  <div class="order-status-driver">
    <%= link_to "*", order_status_path(order, 1), :class => "order-status-option" + (order.status_id == 1 ? " checked" : ""), :title => "Новый", :remote => true %>
    <%= link_to "*", order_status_path(order, 2), :class => "order-status-option" + (order.status_id == 2 ? " checked" : ""), :title => "Авансирован", :remote => true %>
    <%= link_to "*", order_status_path(order, 3), :class => "order-status-option" + (order.status_id == 3 ? " checked" : ""), :title => "Закрыт", :remote => true %>
  </div>
</div>
