<%# order %>
<% order = @order if order.nil? %>

<div class="order-status">
  <div class="order-status-driver">
    <% allowed = Workflow.allowed(order.status_id, current_user.admin?) %>
    <% (1..8).each do |status| %>
      <%= link_to "*", allowed.find(status).nil? ? "#" : order_status_path(order, status), :class => "order-status-option" + (order.status_id >= status ? " checked" : ""), :title => WorkflowName.find(status).name, :remote => true %>
    <% end %>
  </div>
</div>
