<%# order %>
<% order = @order if order.nil? %>

<div class="order-status">
  <div class="order-status-driver">
    <% allowed = Workflow.allowed(order.status_id, current_user.admin?) %>
    <%# "Do not split the next line to prevent spacing between anchors" %>
    <% (1..8).each do |status| %><%= link_to "*", allowed.find(status).nil? ? "#" : order_status_path(order, status), :class => "order-status-option" + (order.status_id >= status && order.status_id != 9 ? " checked" : ""), :title => WorkflowName.title(status), :remote => true %><% end %>
    <%= link_to "*", allowed.find(9).nil? ? "#" : order_status_path(order, 9), :class => "order-status-option" + (order.status_id == 9 ? " cancelled" : ""), :title => WorkflowName.title(9), :remote => true %>
  </div>
</div>
