<h1>Контакты</h1>
<p>
  <% company = Company.instance %>
  Телефон/факс <%= company.faxes %><br />
  Сотовый телефон <%= company.phones %><br />
  e-mail: <%= company.email %><br />
  <img src="assets/icq.png" alt="ICQ"/>: 637 925 555<br />
  Адрес: <%= company.address1 %>
</p>
