<table class="page-footer">
  <tbody>
    <tr>
      <td>Заказчик ___________________________
      <td style="text-align:center;width:20%">стр. <%= "#{page_num} из #{page_count}" %>
      <td style="text-align:right;">Клиент _____________________________
    </tr>
  </tbody>
</table>

