<div style="float:left;width:100%;">
  <div style="float:left;">
    <%= link_to shipper.name, shipper_path(shipper) %>
  </div>
  <div style="float:right;">
    <%= link_to "Изменить", edit_shipper_path(shipper), :class => 'command' %>
  </div>
</div>
