$j('.ui-dialog-titlebar-close').click();
var shippers = $j('#order_shipper_id');
if (shippers != null) {
    shippers.empty();
    <% Shipper.all.each do |d| %>
    shippers.append($j('<option></option>').attr("value", "<%= d.id.to_s %>").text("<%= d.name %>"));
    shippers.val("<%= d.id.to_s %>");
    <% end %>
}
var index = $j('div.clients');
if (index != null) {
    page = index.find('.pagination');
    add = "<%= escape_javascript(render :partial => 'shipper', :locals => { :shipper => @shipper }) %>";
    if (page.size() != 0) {
        page.last().before(add);
    } else {
        index.append(add);
    }
}