<div class="client_info">
  <div style="float:left;width:30%"><h3><%= driver.name %></h3></div><div style="float:right">
    <%= link_to "Изменить", edit_driver_path(driver), :class => 'command' %>
  </div>
</div>