.container {
}

body {
  padding: 0;
  margin: 0;
  background: #fcfcfc
}

header {
  width: 100%;
  background: #8d5;
  padding-left: 150px;
  padding-right:0;
  margin: 0;
  color: #060;
  z-order: 0;
  box-shadow: 0 6px 6px rgba(0,0,0,0.3);
  display: block;
}

.header {
  background: #ae5;
  float: none;
  width: 100%;
}

#main {
  border-radius: 3px;
  box-shadow: 0 6px 6px rgba(0,0,0,0.3);
  margin: 0 150px 20px 150px;
  padding: 15px 60px 30px 60px;
  background: white;
  z-order:1
  line-height:2em;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

nav {
  float: right;
}

nav {
  white-space: nowrap;
  text-align:right;
  margin-left: 0;
  margin-top: -1em;
  padding: 0 150px 0 0;
  background: #6b3;
  font-family: "Helvetica";
}

nav ul {
  margin: 0;
  color:white;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

nav ul li a {
  color:white;
  text-decoration: none;
  padding: 0.2em 0.5em;
}

nav ul li a:visited {
  color: white;
}

nav ul li a:hover {
  background-color: #462;
  border-radius: 3px;
  text-decoration: none;
}

nav.footer {
  background:#fcfcfc;
  text-align:center;
  color:#888;
  padding-right: 0;
}

nav.footer a {
  color:#888;
  text-decoration: underline;
}

nav.footer a:visited {
  color:#888;
  text-decoration: underline;
}

nav.footer a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.command {
  color:#222;
  border-radius: 3px;
  margin: 1px;
  padding: 0.3em 0.5em;
  border:1px solid #ddd;
  background-color: #f8f8f8;
}


a.command {
  text-decoration: none;
}

a.command:hover {
  border: 1px solid #ccc;
  background-color: #fdfdfd;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

a.command:active {
  padding: 0.3em 0.4em 0.3em 0.7em;
}

a.command:visited {
  color: #222;
}

.button_cell {
  width: 1em;
  padding: 0.5em 0;
}

a.signin_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.delete {
  border-radius: 3px;
}

.zebra tbody tr:nth-child(even) td, tbody tr.even td {background:#f1f9d1;}

a.delete:hover {
  background-color: #f88;
  border-color: #a44;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  line-height: 175%;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

ul.orders {
  margin-top: 1em;
}

.orders li {
  list-style: none;
}


h1.order {
  margin-bottom: 0.3em;
}

table.orders {
  margin-top: 1em;
}

table.orders tr {
}

table.orders tr td.order {
  boder-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.orders {
  font-size: 80%;
}

form.new_order {
  margin-bottom: 2em;
}

form.new_order textarea {
  height: 4em;
  margin-bottom: 0;
}

table.print_order {overflow:hidden;white-space:normal;letter-spacing:0;word-spacing:0;background-color:#fff;z-index:1;border:1px solid}
table.print_order td {padding:0 3px;overflow:hidden;white-space:normal;letter-spacing:0;word-spacing:0;background:#fff;background-color:#fff;z-index:1;border:1px solid}
table.print_order th {padding:0 3px;overflow:hidden;white-space:normal;letter-spacing:0;word-spacing:0; background:#fff;background-color:#fff;z-index:1;border:1px solid}
table.print_order tr.even td {background:#ffffff;}
.dn {display:none}

.print_order h1 {
  text-align: center;
}
.print_order h2 {
  text-align: center;
}

.print_order h3 {
  text-align: left;
}

table.order_signs td {
  text-size: 75%;
  vertical-align:top;
  text-align:center;
  background:#fff;
}

a.radio_button_text {
  text-decoration: none;
  color: #222;
}

a.radio_button_text:hover {
  color: #222;
}

a.radio_button_text:visited {
  color: #222;
}
