.container {
  width: 100%
  float: left;
  text-align: center;
  z-index: 5;
}

body {
  padding: 0;
  margin: 0;
  background: #fcfcfc
}

header {
  width: 100%;
  background: #8d5;
  padding-left: 1em;
  padding-right:0;
  margin: 0;
  color: #060;
  z-index: 10;
  -webkit-box-shadow: 0 0.4em 0.4em rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0.4em 0.4em rgba(0,0,0,0.3);
  filter: progid:DXImageTransform.Microsoft.shadow(direction=270, color=#808080, strength=6);
  box-shadow: 0 0.4em 0.4em rgba(0,0,0,0.3);
  display: block;
}

.header {
  background: #ae5;
  float: left;
  width: 100%;
}

h1.header {
  padding-bottom: 0;
}

header img {
  margin: 0.4em;
  display: block;
}

#main {
  -moz-border-radius-bottomleft:      0.4em;
  -webkit-border-bottom-left-radius:  0.4em;
  border-bottom-left-radius:          0.4em;
  -moz-border-radius-bottomright:     0.4em;
  -webkit-border-bottom-right-radius: 0.4em;
  border-bottom-right-radius:         0.4em;
  -webkit-box-shadow: 0 0.4em 0.4em rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0.4em 0.4em rgba(0,0,0,0.3);
  filter: progid:DXImageTransform.Microsoft.shadow(direction=270, color=#808080, strength=6);
  box-shadow: 0 0.4em 0.4em rgba(0,0,0,0.3);
  width: 80%;
  padding: 1em 6em 3em 6em;
  background: white;
  z-index:1
  line-height:2em;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

nav {
  float: right;
}

nav {
  white-space: nowrap;
  text-align:right;
  margin-left: 0;
  margin-top: -1em;
  padding: 0 10% 0 0;
  background: #6b3;
  font-family: "Helvetica";
}

nav ul {
  margin: 0;
  color:white;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

nav ul li a {
  color:white;
  text-decoration: none;
  padding: 0.2em 0.5em;
}

nav ul li a:visited {
  color: white;
}

nav ul li a:hover {
  background-color: #462;
  -moz-border-radius:    0.2em;
  -webkit-border-radius: 0.2em;
  border-radius:         0.2em;
  text-decoration: none;
}

nav.footer {
  background:#fcfcfc;
  text-align:center;
  color:#888;
  padding-right: 0;
  z-index: 1;
}

nav.footer a {
  color:#888;
  text-decoration: underline;
}

nav.footer a:visited {
  color:#888;
  text-decoration: underline;
}

nav.footer a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.command {
  color:#222;
  -moz-border-radius:    0.2em;
  -webkit-border-radius: 0.2em;
  border-radius:         0.2em;
  margin: 1px;
  padding: 0.3em 0.5em;
  border:1px solid #ddd;
  background-color: #f8f8f8;
}


a.command {
  text-decoration: none;
  -moz-transition-property: background-color;
  -webkit-transition-property:background-color;
  -o-transition-property:background-color;
  transition-property:background-color;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

a.command:hover {
  border: 1px solid #ccc;
  background-color: #fdfdfd;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  filter: progid:DXImageTransform.Microsoft.shadow(direction=0, color=#808080, strength=3);
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  color: black;
}

a.command:active {
  padding: 0.3em 0.4em 0.3em 0.7em;
}

a.command:visited {
  color: #222;
}

.button_cell {
  width: 1em;
  padding: 0.5em 0;
}

a.signin_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 25%;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 2em;
}

.round {
  -moz-border-radius:    0.7em;
  -webkit-border-radius: 0.7em;
  border-radius:         0.7em;
}

.delete {
  -moz-border-radius:    0.2em;
  -webkit-border-radius: 0.2em;
  border-radius:         0.2em;
}

.zebra tbody tr:nth-child(even) td, tbody tr.even td {background:#f1f9d1;}

a.delete:hover {
  background-color: #f88;
  border-color: #a44;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  filter: progid:DXImageTransform.Microsoft.shadow(direction=0, color=#808080, strength=10);
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

footer {
  text-align: center;
  margin-top: 1.5em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  line-height: 175%;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -1em;
}

div.field, div.actions {
  margin-bottom: 0.75em;
}

.field_with_errors {
  margin-top: 0.75em;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 50%;
  border: 2px solid red;
  padding-bottom: 0.75em;
  margin-bottom: 0.75em;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  background-color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

ul.orders {
  margin-top: 1em;
}

.orders li {
  list-style: none;
}


h1.order {
  margin-bottom: 0.3em;
}

table.orders {
  margin-top: 1em;
}

table.orders tr {
}

table.orders tr td.order {
  boder-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 0.5em;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.orders {
  font-size: 80%;
}

form.new_order {
  margin-bottom: 2em;
}

form.new_order textarea {
  height: 4em;
  margin-bottom: 0;
}

table.print_order {overflow:hidden;white-space:normal;letter-spacing:0;word-spacing:0;background-color:#fff;z-index:1;border:1px solid}
table.print_order td {padding:0 3px;overflow:hidden;white-space:normal;letter-spacing:0;word-spacing:0;background:#fff;background-color:#fff;z-index:1;border:1px solid}
table.print_order th {padding:0 3px;overflow:hidden;white-space:normal;letter-spacing:0;word-spacing:0; background:#fff;background-color:#fff;z-index:1;border:1px solid}
table.print_order tr.even td {background:#ffffff;}
.dn {display:none}

.print_order h1 {
  text-align: center;
}
.print_order h2 {
  text-align: center;
}

.print_order h3 {
  text-align: left;
}

table.order_signs td {
  text-size: 75%;
  vertical-align:top;
  text-align:center;
  background:#fff;
}

a.radio_button_text {
  text-decoration: none;
  color: #222;
}

a.radio_button_text:hover {
  color: #222;
}

a.radio_button_text:visited {
  color: #222;
}

.users {
  width: 100%;
}

.avatar {
  width: 1em;
}

.client_info {
}

.clients {
  margin: 2em 0 2em 0;
}

.gradient {
  background: #ddd;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#c0c0c0');
  background: -webkit-linear-gradient(top, bottom, #eee, #ccc);
  background: -moz-linear-gradient(top, #eee, #ccc);
  background: -o-linear-gradient(top, #eee, #ccc);
  background: -ms-linear-gradient(top, #eee, #ccc);
}