<footer>
  <nav class="footer">
    <ul>
      <li><%= link_to "О нас", about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
      <li><%= link_to "Справка", help_path %></li>
    </ul>
  </nav>
</footer>